body {
	margin: 0;
	padding: 0;
}

.KanjiResult {
	margin: 5px;
	padding: 5px;
	border: solid 1px #000;
	float: center;
}

.KanjiResult h1 {
	
}

.KanjiResult p {
	
}

.VocabResult {
	margin: 5px;
	padding: 5px;
	border: solid 1px #000;
}